.vscode/
/.project
/.classpath
/bin/
/pkg/
*.exe
*.pem
*.pem.crt
*.pem.key
*.zip
*.jsonl
*.log
node_listener
node-service
agent_darwin_amd64
weeve_agent
cmd/agent/__debug_bin
nodeconfig.json
weeve-agent/
