[Unit]
Description=Weeve Agent
ConditionPathExists=/etc/weeve-agent/agent-conf.json

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=60s
WorkingDirectory=/var/lib/weeve-agent
ExecStart=/usr/bin/weeve-agent --out --config /etc/weeve-agent/agent-conf.json
