name: prod-release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  build-and-push:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup golang
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Manage cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Test
        run: go test -v ./...

      - name: Create build directory
        run: mkdir -p apt-repo

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Check out APT repo contents
        run: aws s3 sync s3://weeve-agent-ppa apt-repo

      - name: Build cross compilation binary
        run: make cross

      - name: Create deb archives
        run: ./release.sh create_debs

      - name: Configure GPG keys
        run: ./release.sh configure_gpg
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

      - name: Create and sign release files
        run: ./release.sh create_sign_release

      - name: Release APT repo to S3
        uses: jakejarvis/s3-sync-action@master
        env:
          AWS_S3_BUCKET: weeve-agent-ppa
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: eu-central-1
          SOURCE_DIR: ./apt-repo
